@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.container {
  width: 85rem;
  height: 100%;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-style: normal;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 85rem;
  height: 5rem;
}

.header a {
  text-decoration: none;
}

.header ul {
  list-style: none;
  width: 23.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.header img {
  width: 2rem;
  height: 2rem;
}

.header .tel {
  font-weight: 400;
  font-size: 18px;
  line-height: 196.5%;
  color: #FFFFFF;
}

hr {
  width: 1170px;
  height: 1px;
  background: #fff;
  border: 0;
}

.contact-us {
  width: 85rem;
  height: 5rem;
}

.about {
  width: 85rem;
  height: 60.125rem;
  background-image: url(../../source/img/bg.png);
  position: relative;
}

.about .lines {
  width: 85rem;
  height: 33.188rem;
  width: 100%;
  margin-top: 75px;
}

.about span {
  font-weight: 600;
  font-size: 80px;
  line-height: 103.9%;
  color: #FFFFFF;
  margin: 0;
  text-align: left;
}

.about .title {
  position: absolute;
  top: 10%;
  width: 100%;
}

.about-desciption {
  width: 85rem;
  height: 32rem;
  position: absolute;
  top: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-desciption .subtitle {
  width: 27.25rem;
  height: 18.125rem;
  position: absolute;
  top: 42%;
  right: 61%;
}

.about-desciption .subtitle p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 196.5%;
  color: #FFFFFF;
}

.about-desciption .subtitle button {
  width: 15.563rem;
  height: 2.75rem;
  background: #1995F0;
  border-radius: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border: 0;
}

.about-desciption .subtitle button:hover {
  cursor: pointer;
}

.about-slider {
  width: 43.75rem;
  height: 31.375rem;
  position: absolute;
  left: 40%;
}

.swiper:hover {
  cursor: pointer;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-scrollbar-drag {
  background-color: #b09494;
}

.swiper2 {
  width: 85rem;
}

.swiper2:hover {
  cursor: pointer;
}

.swiper2-wrapper {
  width: 85rem;
  height: 18.75rem;
}

.logo-img {
  width: 10.125rem;
  height: 11.125rem;
  position: absolute;
  right: 13%;
  z-index: 2;
  top: -18%;
}

.service {
  width: 85rem;
  height: 89.125rem;
  background-color: #D9D9D9;
}

.service .sub-title {
  width: 16.75rem;
  height: 3.813rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 115px 996px 21px 96px;
}

.service .sub-title h2 {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #000000;
}

.service .sub-title img {
  width: 50px;
  height: 50px;
  padding-left: 30px;
}

.service .service-slider {
  width: 21.313rem;
  height: 14.875rem;
  padding: 21px 0 0 95px;
}

.service .service-slider .swiper-slide {
  width: 21.313rem;
  height: 14.875rem;
}

.service .service-slider .swiper-slide h4 {
  border-bottom: 3px solid #000000;
  padding-bottom: 12px;
}

.service .service-slider .swiper-slide span {
  padding-right: 25px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.service button {
  width: 15.563rem;
  height: 2.75rem;
  margin-left: 95px;
  margin-top: 48px;
  background: #1995F0;
  border-radius: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.service button:hover {
  cursor: pointer;
}

.service .order {
  margin: 94px 101px 115px 95px;
  width: 46.5rem;
  height: 43.063rem;
}

.service .order h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
}

.service .order .order-container {
  width: 85rem;
  height: 39.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service .order .order-container img {
  width: 41.5rem;
  height: 39.25rem;
}

.service .order .order-info {
  width: 23.125rem;
  height: 21.875rem;
}

.service .order .order-choice {
  width: 15.063rem;
  height: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service .order .order-choice button {
  width: 7.188rem;
  height: 1.375rem;
  background-color: #D9D9D9;
  border: 0;
  margin: 0 15px;
}

.service .order form {
  width: 23.125rem;
  height: 18.75rem;
  padding-top: 28px;
}

.service .order form input {
  width: 23.125rem;
  height: 2.625rem;
  background: #FFFFFF;
  border-radius: 60px;
  margin-top: 17px;
}

.service .order form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.service .order form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.service .order form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.service .order form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.service .order form #submit {
  background: #1995F0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.service .order form #submit:hover {
  cursor: pointer;
}

.service .order .reminder {
  width: 22.875rem;
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 61px;
}

.service .order .reminder img {
  width: 50px;
  height: 50px;
}

.service .order .reminder p {
  width: 16.875rem;
  height: 6.5rem;
  padding-left: 46px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #000000;
}

.service .order .order-img {
  padding-left: 130px;
}

.map {
  width: 85rem;
  height: 42.125rem;
  background-color: #D9D9D9;
  padding-top: 115px;
}

.map .address {
  width: 15rem;
  height: 3.813rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 95px;
}

.map .address img {
  width: 35px;
  height: 35px;
  padding-left: 30px;
}

.map .contacts {
  width: 73.188rem;
  height: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 95px;
}

.map .contacts span {
  width: 20.875rem;
  height: 1.375rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding-right: 500px;
  padding-top: 28px;
}

.map .contacts .contacts-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 14.938rem;
  height: 1.375rem;
  padding-top: 28px;
}

.map .contacts .contacts-links a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1995F0;
}

.map .yandex-map {
  margin-top: 28px;
  margin-left: 95px;
}

.footer {
  width: 85rem;
  height: 20.063rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#312521), to(#443733));
  background: linear-gradient(180deg, #312521 0%, #443733 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-logo {
  margin: 33px 95px;
}

.footer img {
  width: 18.688rem;
  height: 15.938rem;
}

.footer .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38.375rem;
  height: 8.125rem;
}

.footer .contact-us .come {
  width: 22.938rem;
  height: 5.938rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 67px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer .contact-us .come .house {
  padding-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contact-us .come .house pre {
  margin: 0;
}

.footer .contact-us .come img {
  width: 32px;
  height: 32px;
}

.footer .contact-us .come span {
  padding-left: 33px;
}

.footer .contact-us .call {
  padding-top: 83px;
}

.footer .contact-us .call h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 17px;
}

.footer .contact-us .call .media {
  width: 8.75rem;
  height: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 28px;
}

.footer .contact-us .call .media img {
  width: 2.063rem;
  height: 2.063rem;
}

.footer .contact-us .call #tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 17px;
}
/*# sourceMappingURL=style.css.map */