@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: 'Montserrat';
  font-style: normal;
}

body.__lock {
  overflow: hidden;
}

.main-container {
  max-width: 85rem;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

@media screen and (max-width: 1280px) {
  .main-container {
    max-width: 79rem;
  }
}

@media screen and (max-width: 1024px) {
  .main-container {
    max-width: 60.625rem;
  }
}

@media screen and (max-width: 767px) {
  .main-container {
    max-width: 30rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 85rem;
  height: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#312521), to(#443733));
  background: linear-gradient(180deg, #312521 0%, #443733 100%);
  background-size: 100%;
}

.header .header-container {
  width: 73.438rem;
  height: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-container .header-container-link {
  display: none;
}

.header .header-container .menu-body {
  width: 73.438rem;
  height: 2.25rem;
}

.header .header-container .menu-body .menu-list {
  width: 60rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-left: 40px;
}

.header .header-container .logo {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 36px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .header .header-container .logo {
    width: 9.438rem;
    height: 1.875rem;
  }
  .header .header-container .logo h2 {
    margin-left: 30px;
  }
}

.header .header-container .logo .burger-logo {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 36px;
  color: #FFFFFF;
  margin: 0;
  display: none;
}

.header .header-container .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 375px;
  height: 812px;
}

.header .header-container .header-menu .menu-icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .header .header-container .header-menu .menu-icon {
    z-index: 6;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
    margin-left: 23px;
    margin-top: 7px;
  }
  .header .header-container .header-menu .menu-icon span,
  .header .header-container .header-menu .menu-icon::after,
  .header .header-container .header-menu .menu-icon::before {
    left: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #fff;
  }
  .header .header-container .header-menu .menu-icon::after,
  .header .header-container .header-menu .menu-icon::before {
    content: '';
  }
  .header .header-container .header-menu .menu-icon::before {
    top: 0;
  }
  .header .header-container .header-menu .menu-icon::after {
    bottom: 0;
  }
  .header .header-container .header-menu .menu-icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header .header-container .header-menu .burger-logo {
    display: block;
    width: 9.438rem;
    height: 1.563rem;
    font-weight: 700;
    z-index: 6;
    font-size: 1.875rem;
    line-height: 36px;
    color: #FFFFFF;
    border-bottom: none;
    margin: 25px 60px 10px 40px;
  }
  .header .header-container .header-menu .burger-logo h2 {
    margin-left: 30px;
  }
  .header .header-container .header-menu .burger-logo-img {
    width: 26.063rem;
    height: 26.063rem;
    display: block;
    z-index: 20;
    position: absolute;
    top: 45%;
    right: 32%;
  }
  .header .header-container .header-menu .menu-body {
    position: fixed;
    top: 0;
    left: 535px;
    z-index: 5;
    width: 480px;
    height: 812px;
    background-color: #443733;
    background-image: url("../../source/img/burger-logo-img.png");
    background-size: 15rem 23rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 2px;
    background-position-y: 415px;
    -webkit-transition: left .5s ease 0s;
    transition: left .5s ease 0s;
    overflow: auto;
  }
  .header .header-container .header-menu .menu-body .menu-list {
    width: 7.938rem;
    height: 15.938rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 35px 116px 0 0;
  }
  .header .header-container .header-menu .menu-body .menu-list li {
    margin-top: 30px;
    border-bottom: 1px solid #fff;
  }
  .header .header-container .header-menu .menu-body .menu-list #about {
    width: 66px;
  }
  .header .header-container .header-menu .menu-body.__active {
    left: 3px;
  }
  .header .header-container .header-menu .burger-button {
    display: block;
  }
  .header .header-container .header-menu .menu-icon.__active::after {
    margin-left: -7px;
  }
}

.header .header-container .header-menu .tel {
  width: 11.063rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 196.5%;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .header .header-container .header-menu .tel {
    display: none;
  }
}

.header .header-container .header-menu .social {
  width: 6.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-container .header-menu #telegram {
  -webkit-transition: all .5s;
  transition: all .5s;
  padding-bottom: 25px;
}

.header .header-container .header-menu #telegram:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 767px) {
  .header .header-container .header-menu #telegram {
    width: 32px;
    height: 32px;
    text-decoration: none;
  }
  .header .header-container .header-menu #telegram img {
    padding-top: 45px;
  }
}

@media screen and (max-width: 767px) {
  .header .header-container .header-menu #instagram {
    width: 32px;
    height: 32px;
    padding-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .header .header-container {
    width: 20.313rem;
    height: 1.875rem;
  }
}

.header a {
  text-decoration: none;
}

.header ul {
  list-style: none;
  width: 23.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header ul li a {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.4);
  position: relative;
}

.header ul li a:hover {
  color: #FFFFFF;
}

.header ul li a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  content: "";
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.header ul li a:hover:after, .header ul li a:focus:after {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header ul {
    width: 18.125rem;
  }
}

.header img {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 1280px) {
  .header {
    width: 79rem;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 60.625rem;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 30rem;
    width: 30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-container-link {
    display: block;
    padding-left: 215px;
  }
}

.burger-logo {
  display: none;
}

.burger-button {
  display: none;
  width: 15.563rem;
  height: 2.75rem;
  margin-left: 38px;
  margin-top: 355px;
  background: #1995F0;
  border-radius: 60px;
  border: 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
}

.burger-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.burger-button:active {
  top: 3px;
}

.title {
  padding-top: 47px;
}

@media screen and (max-width: 1024px) {
  .title {
    padding-top: 20px;
  }
}

.title p {
  font-weight: 600;
  font-size: 5rem;
  line-height: 103.9%;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .title p {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .title p {
    display: none;
  }
}

.title #line-1 {
  padding-left: 90px;
}

@media screen and (max-width: 1280px) {
  .title #line-1 {
    padding-left: 25px;
  }
}

@media screen and (max-width: 767px) {
  .title #line-1 {
    padding-left: 25px;
  }
}

.title #line-2 {
  padding-left: 265px;
}

@media screen and (max-width: 767px) {
  .title #line-2 {
    padding-left: 25px;
  }
}

.title #line-3 {
  padding-left: 485px;
}

@media screen and (max-width: 767px) {
  .title #line-3 {
    padding-left: 25px;
  }
}

hr {
  width: 1170px;
  height: 1px;
  background: #fff;
  border: 0;
  margin: 0 auto;
}

.contact-us {
  max-width: 85rem;
  height: 5rem;
}

.about {
  max-width: 85rem;
  height: 60.125rem;
  background-color: #443733;
  background-image: url("../../source/img/lines-1-section.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.about .mob-about {
  display: none;
}

@media screen and (max-width: 767px) {
  .about {
    width: 30rem;
    height: 20rem;
    background: none;
    background-image: url("../../source/img/mobile-bg-main-about.png");
    background-repeat: no-repeat;
    background-size: 30rem 20rem;
  }
  .about .mob-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
  }
  .about .mob-about .mob {
    font-weight: 700;
    font-size: 30px;
    line-height: 122%;
    color: #fff;
    padding: 50px 35px 60px 25px;
  }
  .about .mob-about .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 25px;
  }
  .about .mob-about .phone img {
    padding-right: 10px;
  }
}

.about-desciption {
  max-width: 85rem;
  height: 32rem;
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 11px;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .about-desciption {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 25px;
  }
}

@media screen and (max-width: 767px) {
  .about-desciption {
    padding: 0;
  }
}

.about-desciption .subtitle {
  width: 27.25rem;
  height: 18.125rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about-desciption .subtitle p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 196.5%;
  color: #FFFFFF;
}

.about-desciption .subtitle button {
  width: 15.563rem;
  height: 2.75rem;
  background: #1995F0;
  border-radius: 60px;
  border: 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
  top: 0;
  margin-left: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.about-desciption .subtitle button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about-desciption .subtitle button:active {
  top: 3px;
}

@media screen and (max-width: 1280px) {
  .about-desciption .subtitle {
    width: 22rem;
    padding-bottom: 190px;
    padding-right: 115px;
  }
}

@media screen and (max-width: 767px) {
  .about-desciption .subtitle {
    display: none;
  }
}

.about-desciption .logo-img {
  width: 10.125rem;
  height: 11.125rem;
  position: absolute;
  right: 10%;
  z-index: 2;
  top: -14%;
}

@media screen and (max-width: 1280px) {
  .about-desciption .logo-img {
    right: 12%;
  }
}

@media screen and (max-width: 1024px) {
  .about-desciption .logo-img {
    width: 9.125rem;
    height: 10.125rem;
    right: 6%;
  }
}

@media screen and (max-width: 767px) {
  .about-desciption .logo-img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .about-desciption .swiper {
    width: 22rem;
    height: 20.3rem;
    padding: 0;
  }
  .about-desciption img {
    width: 22rem;
    height: 20.3rem;
  }
}

.about-slider {
  width: 44rem;
  height: 31.375rem;
}

@media screen and (max-width: 767px) {
  .about-slider {
    display: none;
  }
}

.swiper:hover {
  cursor: pointer;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-scrollbar {
  background: #758575;
}

.swiper-scrollbar-drag {
  background-color: #D9D9D9;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  color: #D9D9D9;
}

.service-container {
  max-width: 85rem;
  height: 13.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 95px;
}

.service-container .service-container-item {
  width: 21.313rem;
  margin-right: 60px;
}

.service-container .service-container-item .container-item-price {
  width: 10.313rem;
}

.service-container .service-container-item .container-item-price span {
  padding-right: 25px;
}

.more-info {
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  color: #1995F0;
  margin-left: 667px;
}

.more-info:hover {
  color: #176ba7;
  text-decoration: none;
  font-weight: 600;
}

.service {
  max-width: 85rem;
  height: 89.125rem;
  background-color: #EEEAE4;
}

.service .sub-title {
  width: 16.75rem;
  height: 3.813rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 115px 996px 21px 96px;
}

.service .sub-title h2 {
  margin: 0;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 61px;
  color: #000000;
}

.service .sub-title img {
  width: 50px;
  height: 50px;
  padding-left: 30px;
}

.service button {
  width: 15.563rem;
  height: 2.75rem;
  background: #1995F0;
  border-radius: 60px;
  border: 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 48px;
  margin-left: 95px;
  position: relative;
  top: 0;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.service button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.service button:active {
  top: 3px;
}

.service .order {
  margin: 94px 101px 115px 95px;
  width: 46.5rem;
  height: 43.063rem;
}

.service .order .order-slider {
  width: 41.5rem;
  height: 39.25rem;
  margin-left: 130px;
}

.service .order .order-slider img {
  width: 41.5rem;
  height: 39.25rem;
  border-radius: 20px;
}

.service .order h2 {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 61px;
}

.service .order .order-container {
  max-width: 85rem;
  height: 39.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service .order .order-info {
  width: 23.125rem;
  height: 21.875rem;
}

.service .order .order-choice {
  width: 23.25rem;
  height: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service .order .order-choice button {
  width: 7.188rem;
  height: 1.375rem;
  background-color: #EEEAE4;
  color: #606060;
  border: 0;
  margin: 0 7px;
}

.service .order .order-choice .active {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.service .order form {
  width: 28.5rem;
  height: 24rem;
  padding-top: 28px;
}

.service .order form input {
  width: 20.125rem;
  height: 2.625rem;
  background: #FFFFFF;
  border-radius: 60px;
  margin-top: 15px;
  padding: 0 25px;
  border: 0;
}

.service .order form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.service .order form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.service .order form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.service .order form input::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.service .order form input:focus {
  -webkit-box-shadow: 0 0 15px #6e6e6e;
          box-shadow: 0 0 15px #6e6e6e;
  outline: none;
}

.service .order form #submit {
  width: 23.125rem;
  height: 2.688rem;
  margin: 38px 0;
  background: #1995F0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
  top: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.service .order form #submit:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.service .order form #submit:active {
  top: 3px;
  -webkit-box-shadow: 0 0 15px #6e6e6e;
          box-shadow: 0 0 15px #6e6e6e;
}

.service .order form #submit:focus {
  -webkit-box-shadow: 0 0 10px #6e6e6e;
          box-shadow: 0 0 10px #6e6e6e;
  outline: none;
}

.service .order form .select-service {
  width: 23.125rem;
  height: 2.625rem;
  border-radius: 60px;
  border: 0;
  margin-top: 15px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 0 45px;
}

.service .order form .select-service option {
  width: 23.125rem;
  height: 2.625rem;
  border-radius: 60px;
}

.service .order .form-body {
  position: relative;
}

.service .order .form-body::after {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 28.5rem;
  height: 24rem;
  border-radius: 24px;
  background: rgba(175, 175, 175, 0.9) url("../../source/img/22.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
}

.service .order .form-body._sending::after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.service .order .reminder {
  width: 22.875rem;
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 61px;
}

@media screen and (max-width: 1024px) {
  .service .order .reminder {
    padding-top: 0;
  }
}

.service .order .reminder img {
  width: 50px;
  height: 50px;
}

.service .order .reminder p {
  width: 16.875rem;
  height: 6.5rem;
  padding-left: 46px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
  color: #000000;
}

.service .order .order-img {
  padding-left: 130px;
}

@media screen and (max-width: 1024px) {
  .service .order .order-img {
    padding-left: 80px;
  }
}

.map {
  max-width: 85rem;
  height: 42.125rem;
  background-color: #EEEAE4;
  padding-top: 115px;
}

.map .address {
  width: 15rem;
  height: 3.813rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 95px;
}

.map .address h2 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 61px;
}

.map .address img {
  width: 35px;
  height: 35px;
  padding-left: 30px;
}

.map .contacts {
  width: 73.188rem;
  height: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 95px;
}

.map .contacts span {
  width: 20.875rem;
  height: 1.375rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 22px;
  padding-right: 500px;
  padding-top: 28px;
}

@media screen and (max-width: 1024px) {
  .map .contacts span {
    padding-right: 220px;
  }
}

.map .contacts .contacts-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 14.938rem;
  height: 1.375rem;
  padding-top: 28px;
}

.map .contacts .contacts-links a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #1995F0;
}

.map .contacts .contacts-links a:hover {
  color: #176ba7;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .map .contacts {
    width: 60.625rem;
  }
}

.map .yandex-map {
  width: 60.625;
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  .map .yandex-map {
    width: 48.75rem;
    margin-left: 95px;
  }
}

.footer {
  max-width: 85rem;
  height: 20.063rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#312521), to(#443733));
  background: linear-gradient(180deg, #312521 0%, #443733 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .instagram {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer .instagram:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer #wa {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer #wa:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer .footer-logo {
  margin: 33px 95px;
}

.footer .footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer img {
  width: 18.688rem;
  height: 15.938rem;
}

@media screen and (max-width: 1024px) {
  .footer img {
    width: 14.688rem;
    height: 13.938rem;
  }
}

.footer .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38.375rem;
  height: 8.125rem;
}

.footer .contact-us .come {
  width: 22.938rem;
  height: 5.938rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 82px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  color: #FFFFFF;
}

.footer .contact-us .come .house {
  padding-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contact-us .come .house pre {
  margin: 0;
}

.footer .contact-us .come img {
  width: 32px;
  height: 32px;
}

.footer .contact-us .come span {
  padding-left: 33px;
}

.footer .contact-us .call {
  padding-top: 83px;
}

.footer .contact-us .call h6 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 30px;
}

.footer .contact-us .call .media {
  width: 8.75rem;
  height: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 28px;
}

.footer .contact-us .call .media img {
  width: 2.063rem;
  height: 2.063rem;
}

.footer .contact-us .call #tel {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 17px;
}
/*# sourceMappingURL=style.css.map */