@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
 
body{
    font-family: 'Montserrat';
    font-style: normal;
}

.__lock{
    overflow: hidden;
}

.main-container{
    max-width: 86rem;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    @media screen and (max-width: 1280px) {
        max-width: 79rem;
    }
    @media screen and (max-width: 1024px) {
        max-width: 60.625rem;
    }
    @media screen and (max-width: 767px) {
        max-width: 24rem;
    }
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 85rem;
    height: 5rem;
    background: linear-gradient(180deg, #312521 0%, #443733 100%);
    background-size: 100%;
    .header-container{
        width: 73.438rem;
        height: 2.25rem;
        display: flex;
        padding-top: 17px;
        .header-container-link{
            display: none;
            @media (max-width: 767px) {
                display: block;
                margin-left: 112px;
            }
        }
        .burger-logo{
            display: none;
        }
        
        .burger-button {
                display: none;
                width: 15.563rem;
                height: 2.75rem;
                margin-left: 38px;
                margin-top: 355px;
                background: #1995F0;
                border-radius: 60px;
                border: 0;
                font-weight: 700;
                font-size: 1rem;
                line-height: 20px;
                color: #FFFFFF;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
            &:active{
                top: 3px;
            }
        }
        .menu-body{
            width: 73.438rem;
            height: 2.25rem;
            .menu-list{
                width: 60rem;
                height: 2rem;
                display: flex;
                align-items:center;
                margin: 0;
                padding: 0;
                .menu-nav{
                    width: 23.125rem;
                    height: 1.375rem;
                    display: flex;
                    justify-content: space-between;
                    padding-left: 119px;
                    padding-top: 8px;
                }
            }
        }
        .logo{
            font-weight: 700;
            font-size: 1.875rem;
            line-height: 36px;
            color: #FFFFFF;
            margin: 0;
            @media screen and (max-width: 767px) {
                width: 9.438rem;
                height: 1.875rem;
                h2{
                    margin-left: 30px;
                    font-weight: 700;
                    font-size: 23px;
                    line-height: 30px;
                }
    
            }
            .burger-logo{
                font-weight: 700;
                font-size: 1.875rem;
                line-height: 36px;
                color: #FFFFFF;
                margin: 0;
                display: none;
            }
     
        }
        .header-menu{
            display: flex;
            width: 375px;
            height: 812px;
            .menu-icon{
                display: none;
            }

            .social{
                width: 6.625rem;
                display: flex;
                justify-content: space-between;
                margin-left: 38px;

                img{
                    width: 2rem;
                    height: 2rem;
                }
                
                #burger-inst{
                    width: 2rem;
                    height: 2rem;
                }
                #burger-wa{
                    display: none;
                }
            }

            .tel{
                width: 11.063rem;
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 196.5%;
                color: #FFFFFF;
                padding-top: 8px;
            }

            #telegram{
                transition: all .5s;
                padding-bottom: 25px;
                &:hover{
                    transform: scale(1.2);
                }
            }

            @media screen and (max-width: 767px) {
                .menu-icon{
                    z-index: 6;
                    display: block;
                    position: relative;
                    width: 30px;
                    height: 22px;
                    cursor: pointer;
                    margin-left: 23px;
                }

                .menu-icon span{
                    top: 50%;
                    transform: scale(1) translate(0px, -50%);
                    
                }

                .menu-icon::before{
                    top: 0;
            
                }
            
                .menu-icon::after{
                    bottom: 0;
                }

                .menu-icon span,
                .menu-icon::after,
                .menu-icon::before{
                    left: 0;
                    position: absolute;
                    width: 100%;
                    height: 10%;
                    transition: all .5s ease;
                    background-color: #fff;
                }
            
                .menu-icon::after,
                .menu-icon::before{
                    content: '';
                }

                .burger-logo{
                        display: block;
                        width: 9.438rem;
                        height: 1.563rem;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 30px;
                        z-index: 6;
                        color: #FFFFFF;
                        border-bottom: none;
                        margin: 19px 60px 10px 40px;
                        h2{
                            margin-left: 30px;
                        }
                }

                .burger-logo-img{
                    width: 26.063rem;
                    height: 26.063rem;
                    display: block;
                    z-index: 20;
                    position: absolute;
                    top: 45%;
                    right: 32%;
                }

                .menu-body{
                    position: fixed;
                    top: 0;
                    left: 767px;
                    z-index: 5;
                    width: 23.438rem;
                    height: 50.75rem;
                    background-color: #443733;
                    background-image:url('../../source/img/burger-logo-img.png');
                    background-size: 15rem 23rem;
                    background-repeat:no-repeat;
                    background-position: bottom;
                    background-position-x: 2px;
                    background-position-y: 415px;
                    transition: left .5s ease 0s;
                    overflow: auto;
                    .menu-list{
                        width: 7.938rem;
                        height: 15.938rem;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin: 35px 116px 0 0;
                        li{
                            margin-top: 30px;
                            border-bottom: 1px solid #fff;
                        }
                        #about{
                            width: 66px;
                        }
                        .menu-nav{
                            flex-direction: column;
                            max-width: 7.938rem;
                            padding-left: 37px;
                        }
                    }
                }

                .menu-body.__active{
                    left: 60px;
                    height: 50.75rem;
                }

                .burger-button{
                    display: block;
                }

                .menu-icon.__active::after{
                    margin-left: -7px;
                }

                .tel{
                    display: none;
                }

                .social{
                    #burger-tel{
                        width: 2rem;
                        height: 2rem;
                        margin-top: 290px;
                    }

                    #burger-inst{
                        margin-top: 315px;
                        margin-left: 60px;
                    }

                    #burger-wa{
                        display: block;
                        width: 2rem;
                        height: 2rem;
                        margin-top: 365px;
                        margin-left: 40px;
                    }
                }

                #telegram{
                    width: 32px;
                    height: 32px;
                    text-decoration: none;
                    img{
                        padding-top: 45px;
                    }
                }

            }
        }
        @media screen and (max-width: 767px) {
            width: 20.313rem;
            height: 1.875rem;
        }
    }

    a{
        text-decoration: none;
    }

    ul{
        list-style: none;
        width: 23.125rem;
        display: flex;
        justify-content: space-between;
        li{
            a{
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 22px;
                color: rgba(255, 255, 255, 0.4);
                position: relative;
                &:hover{
                    color:#FFFFFF;
                }
                &:after {
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: #ffffff;
                    content: "";
                    transition: width 0.5s;
                }
                &:hover:after,
                &:focus:after {
                    width: 100%;
                }
            }
        }
        @media screen and (max-width: 1024px) {
            width: 18.125rem;
        }
    }
    img{
        width: 2rem;
        height: 2rem;
        @media (max-width: 767px) {
            width: 1.563rem;
            height: 1.563rem;
        }
    }

    @media screen and (max-width: 1280px){
        width: 79rem;
    }
    @media screen and (max-width: 1024px) {
        max-width: 60.625rem;
    }
    @media screen and (max-width: 767px) {
        max-width: 24rem;
        position: absolute;
        // z-index: 100;
        // top: 0;
        background: transparent;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.title{
    padding-top: 47px;
    @media screen and (max-width: 1024px) {
        padding-top: 20px;
    }

    p{
        font-weight: 600;
        font-size: 5rem;
        line-height: 103.9%;
        color: #FFFFFF;
        margin: 0;
        @media screen and (max-width: 1024px) {
            font-size: 3rem;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    #line-1{
        padding-left:90px;
        @media screen and (max-width: 1280px) {
            padding-left: 25px;
        }
        @media screen and (max-width: 767px) {
            padding-left: 25px;
        }
    }

    #line-2{
        padding-left:265px;
        @media screen and (max-width: 767px) {
            padding-left: 25px;
        }
    }

    #line-3{
        padding-left:485px;
        @media screen and (max-width: 767px) {
            padding-left: 25px;
        }
    }
}



hr{
    width: 1170px;
    height: 1px;
    background: #fff;
    border: 0;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 360px;
        height: 2px;
        position: absolute;
        top: 57px;
        right: 0;
    }
}

.contact-us{
    max-width: 85rem;
    height: 5rem;
}

.about{
    max-width: 85rem;
    height: 60.125rem;
    background-color: #443733;
    background-image:url('../../source/img/lines-1-section.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    .mob-about{
        display: none;
    }
    @media screen and (max-width: 767px) {
        width: 24rem;
        height: 20rem;
        background: none;
        background-image:url('../../source/img/mobile-bg-main-about.png');
        background-repeat:no-repeat;
        background-size: 30rem 20rem;
        .mob-about{
            display: flex;
            flex-direction: column;
            color: #fff;
            .mob{
                font-weight: 700;
                font-size: 30px;
                line-height: 122%;
                color:#fff;
                padding: 50px 35px 60px 25px;
            }
            .phone{
                display: flex;
                align-items:center;
                padding-left: 25px;
                img{
                    padding-right: 10px;
                }
            }
        }
    }
}

.about-desciption{
    max-width: 85rem;
    height: 32rem;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 11px;
    position: relative;
    @media screen and (max-width: 1280px) {
        justify-content: flex-start;
        padding-left: 25px;
    }
    @media screen and (max-width: 767px) {
        padding: 0;
    }
    .subtitle{
        width: 27.25rem;
        height: 18.125rem;
        align-self: flex-end;
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 196.5%;
            color: #FFFFFF;
        }
        button{
            width: 15.563rem;
            height: 2.75rem;
            margin-top: 40px;
            background: #1995F0;
            border-radius: 60px;
            border: 0;
            font-weight: 700;
            font-size: 1rem;
            line-height: 20px;
            color: #FFFFFF;
            position: relative;
            top: 0;
            margin-left: 0;
            transition: transform 0.3s;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
            &:active{
                top: 3px;
            }
        }
        @media screen and (max-width: 1280px) {
            width: 22rem;
            padding-bottom: 190px;
            padding-right: 115px;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    .logo-img{
        width: 10.125rem;
        height: 11.125rem;
        position: absolute;
        right: 10%;
        z-index: 2;
        top: -14%;
        @media screen and (max-width: 1280px) {
            right: 12%;
        }
        @media screen and (max-width: 1024px) {
            width: 9.125rem;
            height: 10.125rem;
            right: 6%;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.about-slider{
    width: 44rem;
    height: 31.375rem;
    @media screen and (max-width: 767px) {
     display: none;
    }
}

.swiper:hover{
    cursor: pointer;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items:center;
}

.swiper-scrollbar{
    background: #758575;
}

.swiper-scrollbar-drag{
    background-color: #D9D9D9;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    color: #D9D9D9;
}

.service-container{
    max-width: 85rem;
    height: 13.125rem;
    display: flex;
    margin-left: 95px;
    .service-container-item{
        width: 21.313rem;
        margin-right: 60px;
        h4{
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }
        p{
            line-height: 163%;
            width: 327px;
        }
        .container-item-price{
            width: 10.313rem;
            pre{
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                span{
                    padding-right: 25px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
    .down{
        margin-top: 43px;
    }
    .arrow{
        align-self:center;
        margin-right: 35px;
        margin-top: 55px;
        transition: all .5s ease;
        img{
            width: 60px;
            height: 60px;
        }
        &:hover{
            transform: scale(1.1);
        }
        @media (max-width: 767px) {
            margin-top: 25px;
        }
    }
    @media (max-width: 767px) {
        height: 49rem;
        margin: 0 9px 50px 25px;
        flex-direction: column;
    }
}



.more-info{
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    color: #1995F0;
    margin-left: 610px;
    &:hover{
        color: #176ba7;
        text-decoration: none;
        font-weight: 600;
    }
}

.service{
    max-width: 85rem;
    height: 89.125rem;
    background-color: #EEEAE4;
    .sub-title{
        width: 16.75rem;
        height: 3.813rem;
        display: flex;
        justify-content: space-around;
        align-items:center;
        padding: 115px 996px 21px 96px;
        h2{
            margin: 0;
            font-weight: 700;
            font-size: 3.125rem;
            line-height: 61px;
            color: #000000;
        }
        img{
            width: 50px;
            height: 50px;
            padding-left: 30px;
        }
    }
    button{
        width: 15.563rem;
        height: 2.75rem;
        background: #1995F0;
        border-radius: 60px;
        border: 0;
        font-weight: 700;
        font-size: 1rem;
        line-height: 20px;
        color: #FFFFFF;
        margin-top: 93px;
        margin-left: 95px;
        position: relative;
        top: 0;
        transition: transform .3s;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
        &:active{
            top: 3px;
        }
    }

    .order{
        margin: 142px 101px 115px 95px;
        .burger-order{
            display: none;
        }
        .order-slider{
            width: 41.5rem;
            height: 39.25rem;
            margin-left: 130px;
            img{
                width: 41.5rem;
                height: 39.25rem;
                border-radius: 20px;
            }
        }
        .mob-sub-title{
            display: none;
        }
        h2{
            font-weight: 700;
            font-size: 3.125rem;
            line-height: 61px;
            @media (max-width: 767px) {
                font-weight: 700;
                font-size: 30px;
                line-height: 122%;
            }
        }
        .order-container{
            max-width: 85rem;
            height: 39.25rem;
            display: flex;
        }
        .order-info{
            width: 23.125rem;
            height: 21.875rem;
        }
        width: 46.5rem;
        height: 43.063rem;
        .order-choice{
            width: 23.25rem;
            height: 1.375rem;
            display: flex;
            justify-content: center;
            button{
                width: 7.188rem;
                height: 1.375rem;
                background-color:#EEEAE4;
                color: #606060;
                border: 0;
                margin: 0 7px;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
            .active{
                font-weight: 500;
                font-size: 1.125rem;
                line-height: 22px;
                text-decoration-line: underline;
                color: #000000;
            }
        }
        form{
            width: 28.5rem;
            height: 24rem;
            padding-top: 28px;
            input{
                width: 21.125rem;
                height: 2.625rem;
                background: #FFFFFF;
                border-radius: 60px;
                margin-top: 15px;
                padding: 0 15px;
                border: 0;
                &::placeholder{
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 20px;
                    color: #707070;
                    padding: 11px 203px 11px 23px;
                }
                &:focus{
                    box-shadow: 0 0 15px #6e6e6e;
                    outline: none;
                }
            }
            .submit{
                width: 23.125rem;
                height: 2.688rem;
                margin: 38px 0;
                background: #1995F0;
                font-weight: 700;
                font-size: 1rem;
                line-height: 20px;
                color: #FFFFFF;
                position: relative;
                top: 0;
                transition: transform 0.3s;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
                &:active{
                    top: 3px;
                    box-shadow: 0 0 15px #6e6e6e;
                }
                &:focus{
                    box-shadow: 0 0 10px #6e6e6e;
                    outline: none;
                }
            }
            .select-service{
                width: 23rem;
                height: 2.625rem;
                border-radius: 60px;
                border: 0;
                margin-top: 15px;
                font-weight: 400;
                font-size: 1rem;
                line-height: 20px;
                color: #707070;
                padding: 0 35px;
                option{
                    width: 23.125rem;
                    height: 2.625rem;
                    border-radius: 60px;
                }
            }
        }
        .form-body{
            position: relative;
            &::after{
                content: "";
                position: absolute;
                top: -25px;
                left: 0;
                width: 28.5rem;
                height: 24rem;
                border-radius: 24px;
                background: rgba(175, 175, 175, 0.9) url("../../source/img/22.gif") center / 50px no-repeat;
                opacity: 0;
                visibility: hidden;
            }
        }
    
        .form-body._sending::after{
            opacity: 1;
            visibility: visible;
            transition: all .5s;
        }

        .reminder{
            width: 22.875rem;
            height: 6.5rem;
            display: flex;
            align-items: center;
            padding-top: 61px;
            @media screen and(max-width: 1024px) {
                padding-top: 0;
            }
            img{
                width: 50px;
                height: 50px;
            }
            p{
                width: 16.875rem;
                height: 6.5rem;
                padding-left: 46px;
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                line-height: 163%;
                color: #000000;
            }
        }
        .order-img{
            padding-left: 130px;
            @media screen and (max-width: 1024px) {
                padding-left: 80px;
            }
        }
    }
    @media (max-width: 767px) {
        height: 97rem;
        .sub-title{
            justify-content: flex-start;
            padding: 60px 197px 7px 25px;
            h2{
                font-weight: 700;
                font-size: 30px;
                line-height: 37px;
            }
            img{
                width: 1.875rem;
                height: 1.875rem;
                padding-right: 10px;
            }
        }
        .order{
            @media (max-width:767px) {
                margin: 0;
                h2{
                    display: none;
                }
                .mob-sub-title{
                    display: block;
                    margin: 0;
                    padding: 80px 115px 10px 25px;
                }
                .order-info{
                    display: none;
                }
                .order-choice{
                    display: none;
                }
                .reminder{
                    display: none;
                }
                .order-slider{
                    margin: 0;
                    width: 23.438rem;
                    height: 22.188rem;
                    img{
                        width: 23.438rem;
                        height: 22.188rem;
                        border-radius: 20px;
                    }
                }
                .burger-order{
                    display: block;
                    width: 20.313rem;
                    height: 2.75rem;
                    right: 0;
                    margin: -250px 25px 75px 25px;
                }
            }
        }
    }
}

.map{
    max-width: 85rem;
    height: 42.125rem;
    background-color: #EEEAE4;
    padding-top: 115px;
    .address{
        width: 15rem;
        height: 3.813rem;
        display: flex;
        align-items: center;
        padding-left: 95px;
        h2{
            margin: 0;
            font-style: normal;
            font-weight: 700;
            font-size: 3.125rem;
            line-height: 61px;
        }
        img{
            width: 35px;
            height: 35px;
            padding-left: 30px;
        }
    }
    .contacts{
        width: 73.188rem;
        height: 1.375rem;
        display: flex;
        align-items: center;
        padding: 0 95px;
        span{
            width: 20.875rem;
            height: 1.375rem;
            font-weight: 700;
            font-size: 1.125rem;
            line-height: 22px;
            padding-right: 614px;
            padding-top: 28px;
            @media screen and (max-width: 1024px){
                padding-right: 220px;
            }
        }
        .contacts-links{
            display: flex;
            justify-content: space-between;
            width: 14.938rem;
            height: 1.375rem;
            padding-top: 28px;
            // padding-left: 135px;
            a{
                font-weight: 400;
                font-size: 1rem;
                line-height: 20px;
                color: #1995F0;
                &:hover{
                    color: #176ba7;
                    text-decoration: none;
                    font-weight: 600;
                }
            }
        }
        @media screen and (max-width: 1024px) {
            width: 60.625rem;
        }
    }
    .yandex-map{
        width: 60.625;
        margin-top: 28px;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 1024px) {
            width: 48.75rem;
            margin-left: 95px;
        }
    }
    @media (max-width: 767px) {
        height: 17rem;
        padding-top: 74px;
        .address{
            padding-left: 25px;
            h2{
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
            }
            img{
                width: 21px;
                height: 21px;
                padding-left: 15px;
            }
        }
        .contacts{
            padding-left: 25px;
            span{
                width: 17rem;
                height: 1.25rem;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                padding-top: 5px;
            }
            .contacts-links{
                display: none;
            }
        }
        .yandex-map{
            width: 24rem;
            height: 10.188rem;
            margin: 0;
            padding-top: 20px;
        }
    }
}

.footer{
    max-width: 85rem;
    height: 20.063rem;
    background: linear-gradient(180deg, #312521 0%, #443733 100%);
    display: flex;
    justify-content: space-between;
    .instagram{
        transition: all .5s;
        &:hover{
            transform: scale(1.2);
        }
        @media screen and (max-width:767px) {
            width: 32px;
            height: 32px;
            padding-top: 48px;
        }
    }
    #wa{
        transition: all .5s;
        &:hover{
            transform: scale(1.2);
        }
    }
    .footer-logo{
        margin: 55px 95px;
    }
    .footer-address{
        display: flex;
    }
    .house{
        display: flex;
        span{
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
        }
    }
    img{
        width: 18.688rem;
        height: 15.938rem;
        @media screen and (max-width: 1024px) {
            width: 14.688rem;
            height: 13.938rem;
        }
    }
    .contact-us{
        display: flex;
        width: 40rem;
        height: 8.125rem;
        padding-top: 83px;
        padding-right: 95px;
        .come{
            width: 22.938rem;
            height: 5.938rem;
            display: flex;
            flex-direction: column;
            align-items:stretch;
            font-weight: 400;
            font-size: 1rem;
            line-height: 25px;
            padding-right: 128px;
            color: #FFFFFF;
            .footer-address{
                width: 20.938rem;
                height: 2rem;
            }
            .house{
                width: 21.938rem;
                height: 3.125rem;
                margin-top: 5px;
                align-items:center;
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
            }
            img{
                width: 32px;
                height: 32px;
            }
            span{
                padding-left: 33px;
            }
        }
        .call{
            width: 10.5rem;
            height: 7.5rem;
            h6{
                font-weight: 400;
                font-size: 1rem;
                line-height: 20px;
                color: #FFFFFF;
                margin: 0;
                padding-bottom: 17px;
            }
            .media{
                width: 5.3rem;
                height: 2.125rem;
                display: flex;
                justify-content: space-between;
                padding-top: 28px;
                img{
                    width: 2.063rem;
                    height: 2.063rem;
                }
            }
            #tel{
                width: 155px;
                font-weight: 400;
                font-size: 1rem;
                line-height: 20px;
                color: #FFFFFF;
                text-decoration: none;
                padding-top: 17px;
            }
        }
    }
    @media (max-width: 767px) {
        height: 32.75rem;
        flex-direction: column-reverse;
        .contact-us{
            flex-direction: column-reverse;
            justify-content: space-between;
            height: 15.375rem;
            padding-top: 34px;
            padding-left: 25px;
            .call{
                width: 9.563rem;
                height: 6.563rem;
                .media{
                    padding-top: 23px;
                    #tel{
                        width: 10rem;
                    }
                }
            }
            .come{
                margin-top: 50px;
                span{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    padding-left: 15px;
                }
                .house{
                    margin-top: 20px;
                }
            }
        }
        .footer-logo{
            margin: 20px 75px 50px;
        }
        img{
            width: 14.125rem;
            height: 10.5rem;
        }
        .instagram{
            padding: 0;
        }
    }
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 1;
    visibility: visible;
    transition: all .8s ease;
    transform: translateY(-80%) scale(0);
    @media (max-width: 767px) {
        max-width: 400px;
    }
}

.popup.active{
    background: #0000009a;
    transform: translate(0) scale(100%);
    @media (max-width: 767px) {
        max-width: 400px;
    }
}

.popup-body{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    @media (max-width: 767px) {
        max-width: 375px;
    }
}

.popup-content{
    background: #EEEAE4;
    border-radius: 20px;
    color: #000000;
    max-width: 500px;
    max-height: 452px;
    padding: 50px 65px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: all .6s ease;
    opacity: 1;
    @media (max-width: 767px) {
        max-width: 241px;
    }
}

.popup-close{
    position: absolute;
    right: 12px;
    top: 12px;
}

.popup-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.popup-form{
    width: 23.5rem;
    height: 24rem;
    padding-top: 28px;
    input{
        width: 20.125rem;
        height: 2.625rem;
        background: #FFFFFF;
        border-radius: 60px;
        margin-top: 15px;
        padding: 0 25px;
        border: 0;
        &::placeholder{
            font-weight: 400;
            font-size: 1rem;
            line-height: 20px;
            color: #707070;
            padding: 11px 203px 11px 23px;
        }
        &:focus{
            box-shadow: 0 0 15px #6e6e6e;
            outline: none;
        }
        @media (max-width: 767px) {
            width: 16.125rem;
            margin-left: 20px;
        }
    }
    button{
        width: 23.125rem;
        height: 2.688rem;
        margin: 38px 0;
        background: #1995F0;
        border-radius: 60px;
        border: 0;
        font-weight: 700;
        font-size: 1rem;
        line-height: 20px;
        color: #FFFFFF;
        position: relative;
        top: 0;
        transition: transform 0.3s;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
        &:active{
            top: 3px;
            box-shadow: 0 0 15px #6e6e6e;
        }
        &:focus{
            box-shadow: 0 0 10px #6e6e6e;
            outline: none;
        }
        @media (max-width: 767px) {
            width: 19.125rem;
            margin-left: 20px;
        }

    }
    .select-service{
        width: 23.125rem;
        height: 2.625rem;
        border-radius: 60px;
        border: 0;
        margin-top: 15px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 20px;
        color: #707070;
        padding: 0 45px;
        option{
            width: 23.125rem;
            height: 2.625rem;
            border-radius: 60px;
        }
        @media (max-width: 767px) {
            width: 19.125rem;
            margin-left: 20px;
        }
    }
    @media (max-width: 767px) {
        max-width: 375px;
    }
}