@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.main-container{
    width: 85rem;
    height: 100%;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 85rem;
    height: 5rem;
    background: linear-gradient(180deg, #312521 0%, #443733 100%);
    background-size: 100%;
    .logo{
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;
    }
    a{
        text-decoration: none;

    }
    ul{
        list-style: none;
        width: 23.125rem;
        display: flex;
        justify-content: space-between;
        li{
            a{
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: rgba(255, 255, 255, 0.4);
                &:hover{
                    color: #FFFFFF;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
    img{
        width: 2rem;
        height: 2rem;
    }
    .tel{
        font-weight: 400;
        font-size: 18px;
        line-height: 196.5%;
        color: #FFFFFF;
    }
}

.title{
    padding-top: 47px;
}

hr{
    width: 1170px;
    height: 1px;
    background: #fff;
    border: 0;
    margin: 0 auto;
}

.contact-us{
    width: 85rem;
    height: 5rem;
}

.about{
    width: 85rem;
    height: 60.125rem;
    background-color: #443733;
    background-image:url('../../source/img/lines-1-section.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    span{
        font-weight: 600;
        font-size: 80px;
        line-height: 103.9%;
        color: #FFFFFF;
        margin: 0;
    }
}

.about-desciption{
    width: 85rem;
    height: 32rem;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 11px;
    position: relative;
    .subtitle{
        width: 27.25rem;
        height: 18.125rem;
        align-self: flex-end;
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 196.5%;
            color: #FFFFFF;
        }
        button{
            width: 15.563rem;
            height: 2.75rem;
            background: #1995F0;
            border-radius: 60px;
            border: 0;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            position: relative;
            top: 0;
            transition: transform 0.3s;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
            &:active{
                top: 3px;
            }
        }
    }
}

.about-slider{
    width: 43.75rem;
    height: 31.375rem;
}

.swiper:hover{
    cursor: pointer;
}

.swiper-slide{
    display: flex;
    justify-content: center;
}

.swiper-scrollbar-drag{
    background-color: #FFF;
}

.swiper2{
    width: 85rem;
}

.swiper2:hover{
    cursor: pointer;
}

.swiper2-wrapper{
    width: 85rem;
    height: 18.75rem;
}

.logo-img{
    width: 10.125rem;
    height: 11.125rem;
    position: absolute;
    right: 10%;
    z-index: 2;
    top: -14%;
}

.service{
    width: 85rem;
    height: 89.125rem;
    background-color: #EEEAE4;
    .sub-title{
        width: 16.75rem;
        height: 3.813rem;
        display: flex;
        justify-content: space-around;
        align-items:center;
        padding: 115px 996px 21px 96px;
        h2{
            margin: 0;
            font-weight: 700;
            font-size: 50px;
            line-height: 61px;
            color: #000000;
        }
        img{
            width: 50px;
            height: 50px;
            padding-left: 30px;
        }
    }

    .service-slider{
        width: 21.313rem;
        height: 14.875rem;
        padding: 21px 0 0 460px;
        .swiper-slide{
            width: 21.313rem;
            height: 14.875rem;
            h4{
                border-bottom: 3px solid #000000;
                padding-bottom: 12px;
            }
            span{
                padding-right: 25px;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #000000;
            }
        }
    }
    button{
        width: 15.563rem;
        height: 2.75rem;
        margin-left: 460px;
        margin-top: 48px;
        background: #1995F0;
        border-radius: 60px;
        border: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        position: relative;
        top: 0;
        transition: transform 0.3s;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
        &:active{
            top: 3px;
        }
    }

    .order{
        margin: 94px 101px 115px 95px;
        h2{
            font-weight: 700;
            font-size: 50px;
            line-height: 61px;
        }
        .order-container{
            width: 85rem;
            height: 39.25rem;
            display: flex;
            img{
                width: 41.5rem;
                height: 39.25rem;
            }
        }

        .order-info{
            width: 23.125rem;
            height: 21.875rem;
        }
        width: 46.5rem;
        height: 43.063rem;
        .order-choice{
            width: 15.063rem;
            height: 1.375rem;
            display: flex;
            button{
                width: 7.188rem;
                height: 1.375rem;
                background-color: #D9D9D9;
                border: 0;
                margin: 0 15px;
            }
            .active{
                text-decoration-line: underline;
                color: #000000;
            }
        }
        form{
            width: 28.5rem;
            height: 24rem;
            padding-top: 28px;
            input{
                width: 20.125rem;
                height: 2.625rem;
                background: #FFFFFF;
                border-radius: 60px;
                margin-top: 15px;
                padding: 0 25px;
                border: 0;
                &::placeholder{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #707070;
                    padding: 11px 203px 11px 23px;
                }
                &:focus{
                    box-shadow: 0 0 15px #6e6e6e;
                    outline: none;
                }
            }
            #submit{
                width: 23.125rem;
                height: 2.688rem;
                margin: 38px 0;
                background: #1995F0;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                position: relative;
                top: 0;
                transition: transform 0.3s;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
                &:active{
                    top: 3px;
                    box-shadow: 0 0 15px #6e6e6e;
                }
                &:focus{
                    box-shadow: 0 0 10px #6e6e6e;
                    outline: none;
                }
            }
        }
        .form-body{
            position: relative;
            &::after{
                content: "";
                position: absolute;
                top: -25px;
                left: 0;
                width: 28.5rem;
                height: 24rem;
                border-radius: 24px;
                background: rgba(175, 175, 175, 0.9) url("../../source/img/22.gif") center / 50px no-repeat;
                opacity: 0;
                visibility: hidden;
            }
        }
    
        .form-body._sending::after{
            opacity: 1;
            visibility: visible;
            transition: all .5s;
        }

        .reminder{
            width: 22.875rem;
            height: 6.5rem;
            display: flex;
            align-items: center;
            padding-top: 61px;
            img{
                width: 50px;
                height: 50px;
            }
            p{
                width: 16.875rem;
                height: 6.5rem;
                padding-left: 46px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 163%;
                color: #000000;
            }
        }
        .order-img{
            padding-left: 130px;
        }
    }
}

.map{
    width: 85rem;
    height: 42.125rem;
    background-color: #EEEAE4;
    padding-top: 115px;
    .address{
        width: 15rem;
        height: 3.813rem;
        display: flex;
        align-items: center;
        padding-left: 95px;
        img{
            width: 35px;
            height: 35px;
            padding-left: 30px;
        }
    }
    .contacts{
        width: 73.188rem;
        height: 1.375rem;
        display: flex;
        align-items: center;
        padding: 0 95px;
        span{
            width: 20.875rem;
            height: 1.375rem;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            padding-right: 500px;
            padding-top: 28px;
        }
        .contacts-links{
            display: flex;
            justify-content: space-around;
            width: 14.938rem;
            height: 1.375rem;
            padding-top: 28px;
            a{
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #1995F0;
            }
        }
    }
    .yandex-map{
        margin-top: 28px;
        margin-left: 95px;
    }
}

.footer{
    width: 85rem;
    height: 20.063rem;
    background: linear-gradient(180deg, #312521 0%, #443733 100%);
    display: flex;
    justify-content: space-between;
    .footer-logo{
        margin: 33px 95px;
    }
    .footer-address{
        display: flex;
    }
    .house{
        display: flex;
    }
    img{
        width: 18.688rem;
        height: 15.938rem;
    }
    .contact-us{
        display: flex;
        width: 38.375rem;
        height: 8.125rem;

        .come{
            width: 22.938rem;
            height: 5.938rem;
            display: flex;
            flex-direction: column;
            align-items:stretch;
            padding-top: 82px;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            color: #FFFFFF;
            .house{
                padding-top: 15px;
                align-items:center;
                pre{
                    margin: 0;
                }
            }
            img{
                width: 32px;
                height: 32px;
            }
            span{
                padding-left: 33px;
            }
        }
        .call{
            padding-top: 83px;
            h6{
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                margin: 0;
                padding-bottom: 30px;
            }
            .media{
                width: 8.75rem;
                height: 2.125rem;
                display: flex;
                justify-content: space-around;
                padding-top: 28px;
                img{
                    width: 2.063rem;
                    height: 2.063rem;
                }
            }
            #tel{
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                text-decoration: none;
                padding-top: 17px;
            }
        }
    }
  
}