@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: 'Montserrat';
  font-style: normal;
}

.main-container {
  max-width: 85rem;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 85rem;
  height: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#312521), to(#443733));
  background: linear-gradient(180deg, #312521 0%, #443733 100%);
  background-size: 100%;
}

.header .header-container {
  width: 73.438rem;
  height: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-container .menu-body {
  width: 73.438rem;
  height: 2.25rem;
}

.header .header-container .menu-body .menu-list {
  width: 60rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-left: 40px;
}

.header .header-container .logo {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 36px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .header .header-container .logo {
    width: 9.438rem;
    height: 1.875rem;
  }
  .header .header-container .logo h2 {
    margin-left: 30px;
  }
}

.header .header-container .logo .burger-logo {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 36px;
  color: #FFFFFF;
  margin: 0;
  display: none;
}

.header .header-container .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 375px;
  height: 812px;
}

.header .header-container .header-menu .menu-icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .header .header-container .header-menu .menu-icon {
    z-index: 6;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
    margin-left: 325px;
  }
  .header .header-container .header-menu .menu-icon span,
  .header .header-container .header-menu .menu-icon::after,
  .header .header-container .header-menu .menu-icon::before {
    left: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #fff;
  }
  .header .header-container .header-menu .menu-icon::after,
  .header .header-container .header-menu .menu-icon::before {
    content: '';
  }
  .header .header-container .header-menu .menu-icon::before {
    top: 0;
  }
  .header .header-container .header-menu .menu-icon::after {
    bottom: 0;
  }
  .header .header-container .header-menu .menu-icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header .header-container .header-menu .burger-logo {
    display: block;
    width: 9.438rem;
    height: 1.563rem;
    font-weight: 700;
    z-index: 6;
    font-size: 1.875rem;
    line-height: 36px;
    color: #FFFFFF;
    border-bottom: none;
  }
  .header .header-container .header-menu .burger-logo h2 {
    margin-left: 30px;
  }
  .header .header-container .header-menu .burger-logo-img {
    width: 26.063rem;
    height: 26.063rem;
    display: block;
    z-index: 20;
    position: absolute;
    top: 45%;
    right: 32%;
  }
  .header .header-container .header-menu .menu-body {
    position: fixed;
    top: 0;
    left: 105px;
    z-index: 5;
    width: 375px;
    height: 812px;
    background-color: #443733;
    background-image: url("../../source/img/burger-logo-img.png");
    background-size: 26.063rem 26.063rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: -165px;
    -webkit-transition: left .5s ease 0s;
    transition: left .5s ease 0s;
    overflow: auto;
  }
  .header .header-container .header-menu .menu-body .menu-list {
    width: 7.938rem;
    height: 15.938rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 35px 116px 0 0;
  }
  .header .header-container .header-menu .menu-body .menu-list li {
    margin-top: 30px;
    border-bottom: 1px solid #fff;
  }
  .header .header-container .header-menu .menu-body .menu-list #about {
    width: 66px;
  }
  .header .header-container .header-menu .menu-body.__active {
    left: 535px;
  }
  .header .header-container .header-menu .burger-button {
    display: block;
  }
  .header .header-container .header-menu .menu-icon.__active .menu-icon::after {
    margin-left: 50px;
  }
}

.header .header-container .header-menu .tel {
  width: 11.063rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 196.5%;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .header .header-container .header-menu .tel {
    display: none;
  }
}

.header .header-container .header-menu .social {
  width: 6.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-container .header-menu #telegram {
  -webkit-transition: all .5s;
  transition: all .5s;
  padding-bottom: 25px;
}

.header .header-container .header-menu #telegram:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 767px) {
  .header .header-container .header-menu #telegram {
    width: 32px;
    height: 32px;
    text-decoration: none;
  }
  .header .header-container .header-menu #telegram img {
    padding-top: 45px;
  }
}

@media screen and (max-width: 767px) {
  .header .header-container .header-menu #instagram {
    width: 32px;
    height: 32px;
    padding-top: 48px;
  }
}

.header a {
  text-decoration: none;
}

.header ul {
  list-style: none;
  width: 23.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header ul li a {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.4);
  position: relative;
}

.header ul li a:hover {
  color: #FFFFFF;
}

.header ul li a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  content: "";
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.header ul li a:hover:after, .header ul li a:focus:after {
  width: 100%;
}

.header ul li #certification {
  color: #FFFFFF;
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 1024px) {
  .header ul {
    width: 18.125rem;
  }
}

.header img {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 1280px) {
  .header {
    width: 79rem;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 60.625rem;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 30rem;
    width: 22rem;
  }
}

.burger-logo {
  display: none;
}

.burger-button {
  display: none;
  width: 15.563rem;
  height: 2.75rem;
  margin-left: 38px;
  margin-top: 410px;
  background: #1995F0;
  border-radius: 60px;
  border: 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
}

.burger-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.burger-button:active {
  top: 3px;
}

section {
  max-width: 85rem;
  height: 83.438rem;
}

.content {
  max-width: 85rem;
  height: 82rem;
  background-color: #EEEAE4;
  background-image: url("../../source/img/service-bg.png");
  background-size: 85rem 54.375;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .title {
  width: 51.563rem;
  height: 7.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 94px 522px 0 95px;
}

.content .title img {
  width: 3.125rem;
  height: 3.125rem;
  padding-left: 30px;
  padding-top: 15px;
}

.content .title h1 {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 61px;
  margin: 0;
}

.content .container {
  max-width: 85rem;
  height: 54.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content .form {
  width: 31.25rem;
  height: 32.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 100px;
}

.content .form .form-title {
  width: 19.375rem;
  height: 2.625rem;
}

.content .form .form-title h3 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 106%;
  color: #fff;
}

.content .form .form-content {
  width: 31.25rem;
  height: 28.25rem;
  background: #EEEAE4;
  border-radius: 20px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .order-choice {
  width: 23.125rem;
  height: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 52px;
}

.content .order-choice button {
  width: 7.188rem;
  height: 1.375rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  color: #606060;
  background: none;
  border: 0;
  position: relative;
  top: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.content .order-choice button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .order-choice button:active {
  top: 3px;
}

.content .order-choice .active {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.content form {
  width: 23.125rem;
  height: 18.75rem;
}

.content form input {
  width: 20.125rem;
  height: 2.625rem;
  background: #FFFFFF;
  border-radius: 60px;
  margin-top: 15px;
  border: 0;
  padding: 0 25px;
}

.content form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.content form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.content form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.content form input::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.content form input:focus {
  -webkit-box-shadow: 0 0 15px #000000;
          box-shadow: 0 0 15px #000000;
  outline: none;
}

.content form #submit {
  width: 23.125rem;
  height: 2.688rem;
  margin: 38px 0;
  background: #1995F0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 20px;
  border: 0;
  position: relative;
  top: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.content form #submit:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content form #submit:active {
  top: 3px;
}

.content form .select-service {
  width: 23.125rem;
  height: 2.625rem;
  border-radius: 60px;
  border: 0;
  margin-top: 15px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 0 45px;
}

.content form .select-service option {
  width: 23.125rem;
  height: 2.625rem;
  border-radius: 60px;
}

.content .reminder {
  width: 29.25rem;
  height: 4.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 842px 106px 52px;
}

.content .reminder img {
  width: 50px;
  height: 50px;
}

.content .reminder p {
  width: 23.125rem;
  height: 4.875rem;
  padding-left: 46px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
  color: #000000;
}

.footer {
  max-width: 85rem;
  height: 20.063rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#312521), to(#443733));
  background: linear-gradient(180deg, #312521 0%, #443733 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .instagram {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer .instagram:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer #wa {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer #wa:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer .footer-logo {
  margin: 33px 95px;
}

.footer .footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer img {
  width: 18.688rem;
  height: 15.938rem;
}

.footer .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38.375rem;
  height: 8.125rem;
}

.footer .contact-us .come {
  width: 22.938rem;
  height: 5.938rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 82px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  color: #FFFFFF;
}

.footer .contact-us .come .house {
  padding-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contact-us .come .house pre {
  margin: 0;
}

.footer .contact-us .come img {
  width: 32px;
  height: 32px;
}

.footer .contact-us .come span {
  padding-left: 33px;
}

.footer .contact-us .call {
  padding-top: 83px;
}

.footer .contact-us .call h6 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 30px;
}

.footer .contact-us .call .media {
  width: 8.75rem;
  height: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 28px;
}

.footer .contact-us .call .media img {
  width: 2.063rem;
  height: 2.063rem;
}

.footer .contact-us .call #tel {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 17px;
}
/*# sourceMappingURL=style.css.map */