@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
}

html {
  max-width: 86rem;
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat';
  font-style: normal;
  margin: 0;
}

.__lock {
  overflow: hidden;
}

.main-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 86rem;
  height: 100%;
  margin: 0 auto;
  background: #EEEAE4;
  background-image: url("../../source/img/Group 67.png");
  background-repeat: no-repeat;
  background-position-x: center;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .main-container {
    max-width: 79rem;
  }
}

@media screen and (max-width: 1024px) {
  .main-container {
    max-width: 60.625rem;
  }
}

@media screen and (max-width: 767px) {
  .main-container {
    max-width: 24rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 86rem;
  height: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#312521), to(#443733));
  background: linear-gradient(180deg, #312521 0%, #443733 100%);
  background-size: 100%;
}

.header .header-container {
  width: 73.438rem;
  height: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
}

.header .header-container .header-container-link {
  display: none;
}

@media (max-width: 767px) {
  .header .header-container .header-container-link {
    display: block;
    margin-left: 125px;
  }
}

.header .header-container .burger-logo {
  display: none;
}

.header .header-container .burger-button {
  display: none;
  width: 15.563rem;
  height: 2.75rem;
  margin-left: 38px;
  margin-top: 355px;
  background: #1995F0;
  border-radius: 60px;
  border: 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
}

.header .header-container .burger-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .header-container .burger-button:active {
  top: 3px;
}

.header .header-container .menu-body {
  width: 73.438rem;
  height: 2.25rem;
}

.header .header-container .menu-body .menu-list {
  width: 60rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.header .header-container .menu-body .menu-list .menu-nav {
  width: 23.125rem;
  height: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 0 0 119px;
}

@media (max-width: 1024px) {
  .header .header-container .menu-body .menu-list .menu-nav {
    width: 20rem;
    padding: 8px 20px 0 40px;
  }
}

@media (max-width: 1024px) {
  .header .header-container .menu-body .menu-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.header .header-container .logo {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 36px;
  color: #FFFFFF;
  margin: 0;
}

.header .header-container .logo .burger-logo {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 36px;
  color: #FFFFFF;
  margin: 0;
  display: none;
}

@media (max-width: 1024px) {
  .header .header-container .logo {
    padding-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .header .header-container .logo {
    width: 9.438rem;
    height: 1.875rem;
    padding-left: 0;
  }
  .header .header-container .logo h2 {
    margin-left: 24px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }
}

.header .header-container .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 375px;
  height: 812px;
}

.header .header-container .header-menu .menu-icon {
  display: none;
}

.header .header-container .header-menu .social {
  width: 6.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 38px;
}

.header .header-container .header-menu .social img {
  width: 2rem;
  height: 2rem;
}

.header .header-container .header-menu .social #burger-inst {
  width: 2rem;
  height: 2rem;
}

.header .header-container .header-menu .social #burger-wa {
  display: none;
}

.header .header-container .header-menu .tel {
  width: 11.063rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 196.5%;
  color: #FFFFFF;
  padding-top: 8px;
}

.header .header-container .header-menu #telegram {
  -webkit-transition: all .5s;
  transition: all .5s;
  padding-bottom: 25px;
}

.header .header-container .header-menu #telegram:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 767px) {
  .header .header-container .header-menu .menu-icon {
    z-index: 6;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
    margin-left: 23px;
  }
  .header .header-container .header-menu .menu-icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header .header-container .header-menu .menu-icon::before {
    top: 0;
  }
  .header .header-container .header-menu .menu-icon::after {
    bottom: 0;
  }
  .header .header-container .header-menu .menu-icon span,
  .header .header-container .header-menu .menu-icon::after,
  .header .header-container .header-menu .menu-icon::before {
    left: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #fff;
  }
  .header .header-container .header-menu .menu-icon::after,
  .header .header-container .header-menu .menu-icon::before {
    content: '';
  }
  .header .header-container .header-menu .burger-logo {
    display: block;
    width: 9.438rem;
    height: 1.563rem;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    z-index: 6;
    color: #FFFFFF;
    border-bottom: none;
    margin: 19px 60px 10px 40px;
  }
  .header .header-container .header-menu .burger-logo h2 {
    margin-left: 30px;
  }
  .header .header-container .header-menu .burger-logo-img {
    width: 26.063rem;
    height: 26.063rem;
    display: block;
    z-index: 20;
    position: absolute;
    top: 45%;
    right: 32%;
  }
  .header .header-container .header-menu .menu-body {
    position: fixed;
    top: 0;
    left: 395px;
    z-index: 5;
    width: 23.438rem;
    height: 50.75rem;
    background-color: #443733;
    background-image: url("../../source/img/burger-logo-img.png");
    background-size: 15rem 23rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 2px;
    background-position-y: 415px;
    -webkit-transition: left .5s ease 0s;
    transition: left .5s ease 0s;
    overflow: auto;
  }
  .header .header-container .header-menu .menu-body .menu-list {
    width: 7.938rem;
    height: 15.938rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 35px 116px 0 0;
  }
  .header .header-container .header-menu .menu-body .menu-list li {
    margin-top: 30px;
  }
  .header .header-container .header-menu .menu-body .menu-list li a {
    border-bottom: 1px solid #fff;
  }
  .header .header-container .header-menu .menu-body .menu-list #about {
    width: 66px;
  }
  .header .header-container .header-menu .menu-body .menu-list .menu-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 7.938rem;
    padding-left: 37px;
  }
  .header .header-container .header-menu .menu-body.__active {
    left: 60px;
    width: 349px;
    height: 812px;
  }
  .header .header-container .header-menu .burger-button {
    display: block;
  }
  .header .header-container .header-menu .menu-icon.__active::after {
    margin-left: -7px;
  }
  .header .header-container .header-menu .tel {
    display: none;
  }
  .header .header-container .header-menu .social #burger-tel {
    width: 2rem;
    height: 2rem;
    margin-top: 290px;
  }
  .header .header-container .header-menu .social #burger-inst {
    margin-top: 315px;
    margin-left: 60px;
  }
  .header .header-container .header-menu .social #burger-wa {
    display: block;
    width: 2rem;
    height: 2rem;
    margin-top: 365px;
    margin-left: 40px;
  }
  .header .header-container .header-menu #telegram {
    width: 32px;
    height: 32px;
    text-decoration: none;
  }
  .header .header-container .header-menu #telegram img {
    padding-top: 45px;
  }
}

@media screen and (max-width: 767px) {
  .header .header-container {
    width: 20.313rem;
    height: 1.875rem;
  }
}

.header a {
  text-decoration: none;
}

.header ul {
  list-style: none;
  width: 23.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header ul li a {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.4);
  position: relative;
}

.header ul li a:hover {
  color: #FFFFFF;
}

.header ul li a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  content: "";
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.header ul li a:hover:after, .header ul li a:focus:after {
  width: 100%;
}

.header ul li #service {
  color: #fff;
}

.header ul li #service:hover::after {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header ul {
    width: 18.125rem;
  }
}

.header img {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 767px) {
  .header img {
    width: 1.563rem;
    height: 1.563rem;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    width: 80rem;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 60.625rem;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 24rem;
    position: absolute;
    background: #443733;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.title {
  width: 16.75rem;
  height: 3.813rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 104px 997px 0 95px;
}

.title h1 {
  font-family: 'Montserrat';
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 61px;
}

.title img {
  width: 3.125rem;
  height: 3.125rem;
  padding-left: 30px;
}

@media (max-width: 767px) {
  .title {
    padding: 110px 197px 15px 25px;
  }
  .title h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }
  .title img {
    padding-left: 10px;
    width: 1.875rem;
    height: 1.875rem;
  }
}

@media (max-width: 1024px) {
  .title {
    padding: 90px 45px 0 95px;
  }
}

@media (max-width: 767px) {
  .title {
    padding: 110px 25px 0 25px;
  }
}

.container {
  width: 73.125rem;
  height: 250rem;
  padding: 10px 95px 100px 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .card {
  width: 35.625rem;
  height: 53.313rem;
  background: #FFFFFF;
  border-radius: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

.container .card:nth-child(even) {
  margin-left: 30px;
}

.container .card:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.container .card button {
  width: 15.563rem;
  height: 3.5rem;
  background: #1995F0;
  border-radius: 60px;
  border: 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
  margin: 30px 291px 55px 30px;
  position: relative;
  top: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.container .card button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container .card button:active {
  top: 3px;
}

.container .card img {
  width: 31.875rem;
  height: 18.125rem;
  border-radius: 20px;
  padding: 30px;
}

.container .card p {
  width: 31.438rem;
  height: 11.375rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
  padding: 20px 37px 27px 30px;
  margin: 0;
}

.container .card .sub-title {
  width: 29.688rem;
  height: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 101px 5px 30px;
}

.container .card .sub-title h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 106%;
  margin: 0;
}

.container .card .sub-title img {
  width: 3.125rem;
  height: 3.125rem;
  padding-right: 20px;
}

.container .card .price {
  width: 34rem;
  height: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 27px 92px 30px 30px;
}

.container .card .price span {
  width: 7rem;
  height: 1.5rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 24px;
  padding-right: 24px;
}

.container .card .price p {
  width: 5rem;
  height: 1.25rem;
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  padding-right: 42px;
}

.container .card .price a {
  width: 28rem;
  height: 1.875rem;
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #1995F0;
  text-decoration: none;
}

.container .card .price img {
  width: 1.688rem;
  height: 1.688rem;
  padding: 0 10px;
}

.container .insta {
  width: 24.688rem;
  height: 5.438rem;
  margin-left: 200px;
  margin-top: 650px;
}

.container .insta h2 {
  margin: 0;
}

.container .insta p {
  padding-top: 30px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 183%;
}

.container .insta .insta-link {
  width: 23.125rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .insta .insta-link img {
  padding-left: 72px;
  padding-top: 50px;
}

.container .insta .insta-link a {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 183%;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.container .insta .insta-link a:hover {
  color: #000000;
}

.container .insta .insta-link #link:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000000;
  content: "";
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.container .insta .insta-link #link:hover:after, .container .insta .insta-link #link:focus:after {
  width: 100%;
}

@media (max-width: 1024px) {
  .container {
    width: 48rem;
    height: 390rem;
    padding: 10px 95px 100px 215px;
  }
  .container .card:nth-child(even) {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .container {
    height: 365.7rem;
    padding: 15px 25px 61px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .card {
    width: 20.375rem;
    height: 49.563rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 25px 0;
  }
  .container .card:first-child {
    margin: 0;
  }
  .container .card img {
    width: 18.25rem;
    height: 10.313rem;
    padding: 20px 17px;
  }
  .container .card .sub-title {
    padding: 0 32px 5px 17px;
  }
  .container .card .sub-title img {
    display: none;
  }
  .container .card .sub-title h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 106%;
  }
  .container .card p {
    width: 17.688rem;
    height: 19.5rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }
  .container .card:nth-child(even) {
    margin-left: 0;
  }
  .container .card .price {
    width: 17rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 17px;
  }
  .container .card .price span {
    width: 5.1rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .container .card .price p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .container .card .price a {
    padding-top: 26px;
  }
  .container .card button {
    width: 18.25rem;
    height: 2.75rem;
    margin: 80px 17px 0;
  }
}

.footer {
  max-width: 86rem;
  height: 20.063rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#312521), to(#443733));
  background: linear-gradient(180deg, #312521 0%, #443733 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .instagram {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer .instagram:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 767px) {
  .footer .instagram {
    width: 32px;
    height: 32px;
    padding-top: 48px;
  }
}

.footer #wa {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer #wa:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer .footer-logo {
  margin: 55px 95px;
}

@media (max-width: 1024px) {
  .footer .footer-logo {
    margin: 55px 80px;
  }
}

.footer .footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .house span {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.footer img {
  width: 18.688rem;
  height: 15.938rem;
}

@media screen and (max-width: 1024px) {
  .footer img {
    width: 14.688rem;
    height: 13.938rem;
  }
}

.footer .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40rem;
  height: 8.125rem;
  padding-top: 83px;
  padding-right: 95px;
}

.footer .contact-us .come {
  width: 22.938rem;
  height: 5.938rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  padding-right: 128px;
  color: #FFFFFF;
}

.footer .contact-us .come .footer-address {
  width: 20.938rem;
  height: 2rem;
}

.footer .contact-us .come .house {
  width: 21.938rem;
  height: 3.125rem;
  margin-top: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.footer .contact-us .come img {
  width: 32px;
  height: 32px;
}

.footer .contact-us .come span {
  padding-left: 33px;
}

@media (max-width: 1024px) {
  .footer .contact-us .come {
    padding-right: 40px;
  }
}

.footer .contact-us .call {
  width: 10.5rem;
  height: 7.5rem;
  position: relative;
}

.footer .contact-us .call .footer-phone {
  display: none;
}

.footer .contact-us .call h6 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 17px;
}

.footer .contact-us .call .media {
  width: 5.3rem;
  height: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 28px;
}

.footer .contact-us .call .media img {
  width: 2.063rem;
  height: 2.063rem;
}

.footer .contact-us .call #tel {
  width: 155px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 17px;
}

@media (max-width: 767px) {
  .footer .contact-us .call h6 {
    padding-left: 45px;
  }
  .footer .contact-us .call .footer-phone {
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    margin: 0;
    position: absolute;
    top: -5px;
  }
}

@media (max-width: 767px) {
  .footer {
    height: 32.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer .contact-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 15.375rem;
    padding-top: 34px;
    padding-left: 25px;
  }
  .footer .contact-us .call {
    width: 9.563rem;
    height: 6.563rem;
  }
  .footer .contact-us .call .media {
    padding-top: 23px;
  }
  .footer .contact-us .call .media #tel {
    width: 10rem;
  }
  .footer .contact-us .come {
    margin-top: 50px;
  }
  .footer .contact-us .come span {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    padding-left: 15px;
  }
  .footer .contact-us .come .house {
    margin-top: 20px;
  }
  .footer .footer-logo {
    margin: 20px 75px 50px;
  }
  .footer img {
    width: 14.125rem;
    height: 10.5rem;
  }
  .footer .instagram {
    padding: 0;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-transform: translateY(-80%) scale(0);
          transform: translateY(-80%) scale(0);
}

@media (max-width: 767px) {
  .popup {
    max-width: 400px;
  }
}

.popup.active {
  background: #0000009a;
  -webkit-transform: translate(0) scale(100%);
          transform: translate(0) scale(100%);
}

@media (max-width: 767px) {
  .popup.active {
    max-width: 400px;
  }
}

.popup-body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

@media (max-width: 767px) {
  .popup-body {
    max-width: 375px;
  }
}

.popup-content {
  background: #EEEAE4;
  border-radius: 20px;
  color: #000000;
  max-width: 500px;
  max-height: 452px;
  padding: 50px 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  opacity: 1;
}

@media (max-width: 767px) {
  .popup-content {
    max-width: 241px;
  }
}

.popup-close {
  position: absolute;
  right: 12px;
  top: 12px;
}

.popup-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.popup-form {
  width: 23.5rem;
  height: 24rem;
  padding-top: 28px;
}

.popup-form input {
  width: 20.125rem;
  height: 2.625rem;
  background: #FFFFFF;
  border-radius: 60px;
  margin-top: 15px;
  padding: 0 25px;
  border: 0;
}

.popup-form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.popup-form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.popup-form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.popup-form input::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 11px 203px 11px 23px;
}

.popup-form input:focus {
  -webkit-box-shadow: 0 0 15px #6e6e6e;
          box-shadow: 0 0 15px #6e6e6e;
  outline: none;
}

@media (max-width: 767px) {
  .popup-form input {
    width: 16.125rem;
    margin-left: 20px;
  }
}

.popup-form button {
  width: 23.125rem;
  height: 2.688rem;
  margin: 38px 0;
  background: #1995F0;
  border-radius: 60px;
  border: 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
  top: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.popup-form button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.popup-form button:active {
  top: 3px;
  -webkit-box-shadow: 0 0 15px #6e6e6e;
          box-shadow: 0 0 15px #6e6e6e;
}

.popup-form button:focus {
  -webkit-box-shadow: 0 0 10px #6e6e6e;
          box-shadow: 0 0 10px #6e6e6e;
  outline: none;
}

@media (max-width: 767px) {
  .popup-form button {
    width: 19.125rem;
    margin-left: 20px;
  }
}

.popup-form .select-service {
  width: 23.125rem;
  height: 2.625rem;
  border-radius: 60px;
  border: 0;
  margin-top: 15px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #707070;
  padding: 0 45px;
}

.popup-form .select-service option {
  width: 23.125rem;
  height: 2.625rem;
  border-radius: 60px;
}

@media (max-width: 767px) {
  .popup-form .select-service {
    width: 19.125rem;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .popup-form {
    max-width: 375px;
  }
}
/*# sourceMappingURL=style.css.map */